html {
    position: relative;
    min-height: 100%;
}

.wrapper {
    overflow: hidden;
}

.content--wrapper,
.body__work,
.body__main {
    margin: 0 0 53px;
}

a {
    text-decoration: none;
}

p {
    .body__main & {
        @include center-block();
        max-width: (625rem / 16);
        font-size: (21rem / 16);
    }

    .intro__title & {
        max-width: (520rem / 16);
        text-align: left;
    }

    .build &,
    .move &,
    .work & {
        max-width: (520rem / 16);
        text-align: left;
    }

    .project & {
        font-size: (21rem / 16);
    }

    .project--visual-quiz &,
    .project--codepen & {
        color: $white;
    }
}

h1 {
    margin: 0;
    font-family: $h1Font;
    font-size: $h1Size;
}

h2 {
    margin: 0;
    letter-spacing: .18rem;
}

h3 {
    margin: .5rem 0 0;
    .project--visual-quiz &,
    .project--codepen & {
        color: $white;
    }
}

h4 {
    font-family: $h4Font;
}

h5 {
    display: inline-block;
    font-family: $h5Font;
    vertical-align: middle;
    .body__footer & {
        @include transform-translate(0, -50%);
        position: relative;
        top: 50%;
    }
}

@media only screen and (max-width: 573px) {
    h1 {
        font-size: (87rem / 16);
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: (75rem / 16);
    }
}