.content--blog {
  @include center-block();
  max-width: (1200rem / 16);
  article {
    @include flexbox();
    @include flexbox-justify-content(center);
    @include flexbox-align-items(center);
    @include flexbox-flex-wrap(no-wrap);
    position: relative;
    width: 100%;
    height: 375px;
    padding-top: 27%;
    margin: 0 auto;
  }

  article:nth-child(2) {
    .post__header {
      background: $white;
    }
    .post__content {
      background: $white;
      h5 {
        @include rounded(15px);
        margin-top: 3rem;
        padding: 1rem;
        border: 1px $siteDarkGray solid;
      }

      a,
      h3,
      h5,
      .byline {
        color: $siteDarkGray;
      }
      .post__content--inner {
        color: $siteDarkGray;
      }
    }
  }

  article:nth-child(3) {
    .post__header {
      background: $siteTeal;
    }
    .post__content {
      background: $siteTeal;
    }
    h5 {
      border: 1px $white solid;
    }
  }

  .post__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: inherit;
    background: $siteBlue;
  }

  .post__content {
    top: 0;
    position: absolute;
    right: 0;
    width: 800px;
    height: inherit;
    padding: 2rem;
    background: $siteBlue;
    text-align: center;

    h3 {
      margin: 1rem auto 2.5rem;
    }

    h5 {
      @include rounded(15px);
      margin-top: 3rem;
      padding: 1rem;
      border: 1px $white solid;
    }

    a,
    h3,
    h5,
    .byline {
      color: $white;
    }

    .post__content--inner {
      text-align: left;
      color: $white;
      font-size: (18rem / 16);
      line-height: 1.9rem;
    }

    .byline {
      font-family: $h4Font;
      font-size: (19rem / 16);
    }
  }

  .post__thumbnail {
    img {
      width: 400px;
      max-height: (375rem / 16);
    }
  }
}

@media only screen and (max-width: 812px) {

  .content--blog {
    article {
      width: 100%;
      height: 425px;
    }

    .post__header {
      display: none;
    }

    .post__content {
      width: 100%;
    }

    .post__thumbnail {
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
}

@media only screen and (max-width: $smallTabletBreakpoint) {
  .content--blog {
    article {
      @include flexbox();
      @include flexbox-justify-content(center);
      @include flexbox-align-items(center);
      @include flexbox-flex-wrap(wrap);
      width: 100%;
      height: 100%;
      padding-top: 0;
    }

    .post__content {
      position: relative;
      width: 100%;
    }

    .post__thumbnail {
      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
}