.content--single {
  a {
    color: $linkColor;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $siteBlue;
    }
  }

  p {
    font-size: (18rem / 16);
  }

  h3 {
    margin-bottom: 2rem;
    text-align: center;
  }

  article {
    max-width: (800rem / 16);
    margin: 0 auto 2rem;
  }

  header {
    width: 95%;
    margin: 2rem auto;
  }

  .byline {
    font-family: $h4Font;
    font-size: (19rem / 16);
  }

  .post__content--inner {
    width: 95%;
    margin: 3rem auto 1rem;
    line-height: 1.5rem;
  }

  footer {
    width: 95%;
    margin: 0 auto;
  }

  .comments {
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 7rem;
    margin-left: 2rem;
    h3 {
      display: none;
    }
    li {
      list-style-type: none;
    }
    .logged-in-as {
      display: none;
    }
    .reply {

    }
  }

  .comment {
    margin-bottom: 2rem;
  }

  .post__metadata {
    margin-bottom: 5rem;
  }
}
