*,
*:before,
*:after {
  box-sizing: border-box;
  word-wrap: break-word; }

html {
  font-family: "AGaramondPro-Regular", serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background: #fff;
  color: #6d6e71;
  font-family: "AGaramondPro-Regular", serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.35; }

@-webkit-viewport {
  width: device-width;
  zoom: 1; }

@-moz-viewport {
  width: device-width;
  zoom: 1; }

@-ms-viewport {
  width: device-width;
  zoom: 1; }

@viewport {
  width: device-width;
  zoom: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  color: #636466;
  cursor: pointer; }
  a:hover, a:focus {
    outline: 0;
    color: #565759; }
  a:visited {
    color: #4a4b4c; }
  a:active {
    outline: 0;
    color: #3d3e3f; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham-Medium";
  line-height: 1.1;
  text-shadow: none; }
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0; }
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child {
    margin-bottom: 0; }

h1,
.h1 {
  margin: 0.9 em 0;
  color: #141929;
  font-size: 5.6875rem;
  font-weight: 300; }

h2,
.h2 {
  margin: 0.9 em 0;
  color: #3790ca;
  font-size: 1.8125rem;
  font-weight: 300; }

h3,
.h3 {
  margin: 0.77143 em 0;
  color: #636466;
  font-size: 2.5625rem;
  font-weight: 300; }

h4,
.h4 {
  margin: 0.77143 em 0;
  color: #231f20;
  font-size: 1.3125rem;
  font-weight: 300; }

h5,
.h5 {
  margin: 0.675 em 0;
  color: #6d6e71;
  font-size: 0.9375rem;
  font-weight: 300; }

h6,
.h6 {
  margin: 0.675 em 0;
  color: 1em;
  font-size: 1em;
  font-weight: 300; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

em,
i,
dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: bottom; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  color: #6d6e71;
  font-family: monospace;
  font-size: 0.875rem; }

blockquote {
  margin-bottom: 0.875rem;
  padding-left: 0;
  border-left: 0 solid #e6e6e6;
  color: gray;
  font-family: "Gotham-Medium";
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 200; }

p {
  margin: 1rem 0; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

label {
  color: #6d6e71;
  font-size: 1.125rem;
  font-weight: bold; }

input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="password"],
select,
.textbox {
  height: 1.875rem;
  line-height: 1.75rem;
  padding: 0 1.5rem;
  background-color: #fff;
  border: 0.0625rem solid #e6e6e6;
  color: #6d6e71;
  font-family: "AGaramondPro-Regular", serif;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none; }
  input[type="text"]:active, input[type="text"]:focus,
  input[type="date"]:active,
  input[type="date"]:focus,
  input[type="time"]:active,
  input[type="time"]:focus,
  input[type="datetime"]:active,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:active,
  input[type="datetime-local"]:focus,
  input[type="url"]:active,
  input[type="url"]:focus,
  input[type="email"]:active,
  input[type="email"]:focus,
  input[type="number"]:active,
  input[type="number"]:focus,
  input[type="search"]:active,
  input[type="search"]:focus,
  input[type="file"]:active,
  input[type="file"]:focus,
  input[type="password"]:active,
  input[type="password"]:focus,
  select:active,
  select:focus,
  .textbox:active,
  .textbox:focus {
    outline: none; }
  input[type="text"] :-ms-input-placeholder,
  input[type="date"] :-ms-input-placeholder,
  input[type="time"] :-ms-input-placeholder,
  input[type="datetime"] :-ms-input-placeholder,
  input[type="datetime-local"] :-ms-input-placeholder,
  input[type="url"] :-ms-input-placeholder,
  input[type="email"] :-ms-input-placeholder,
  input[type="number"] :-ms-input-placeholder,
  input[type="search"] :-ms-input-placeholder,
  input[type="file"] :-ms-input-placeholder,
  input[type="password"] :-ms-input-placeholder,
  select :-ms-input-placeholder,
  .textbox :-ms-input-placeholder {
    color: gray;
    font-size: 1em;
    font-style: normal;
    text-transform: uppercase;
    font-family: "AGaramondPro-Regular", serif; }

textarea {
  display: block;
  resize: none; }
  textarea :-ms-input-placeholder {
    color: gray;
    font-size: 1em;
    font-style: normal;
    text-transform: uppercase;
    font-family: "AGaramondPro-Regular", serif; }

::-webkit-input-placeholder {
  color: gray;
  font-size: 1em;
  font-style: normal;
  font-family: "AGaramondPro-Regular", serif; }

:-moz-placeholder {
  color: gray;
  font-size: 1em;
  font-style: normal;
  text-transform: uppercase;
  font-family: "AGaramondPro-Regular", serif; }

::-moz-placeholder {
  color: gray;
  font-size: 1em;
  font-style: normal;
  text-transform: uppercase;
  font-family: "AGaramondPro-Regular", serif; }

button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0.5rem 1.5rem;
  overflow: visible;
  background-color: #fff;
  border: 0.25rem solid #6d6e71;
  color: #6d6e71;
  font-family: "AGaramondPro-Regular", serif;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  cursor: pointer; }
  button.alt,
  .button.alt,
  input[type="button"].alt,
  input[type="submit"].alt,
  input[type="reset"].alt {
    background-color: #6d6e71; }
  button:active, button:focus,
  .button:active,
  .button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus {
    outline: none; }
  button:hover, button:focus, button:visited,
  .button:hover,
  .button:focus,
  .button:visited,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="button"]:visited,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:visited,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="reset"]:visited {
    color: #6d6e71;
    text-decoration: none;
    border: 0.25rem solid #6d6e71; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], button[readonly],
html input[disabled],
html input[readonly],
textarea[disabled],
textarea[readonly],
select[disabled],
select[readonly] {
  cursor: default;
  opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875rem; }

tr:nth-child(even) th,
tr:nth-child(even) td {
  background: #e6e6e6; }

td,
th {
  padding: 0.25rem; }

/*
 * STYLES FOR THE OUTDATED BROWSER WARNING
 */
.browserupgrade {
  margin: 0;
  background: #ccc;
  color: #000;
  padding: .5em; }

html {
  position: relative;
  min-height: 100%; }

.wrapper {
  overflow: hidden; }

.content--wrapper,
.body__work,
.body__main {
  margin: 0 0 53px; }

a {
  text-decoration: none; }

.body__main p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 39.0625rem;
  font-size: 1.3125rem; }

.intro__title p {
  max-width: 32.5rem;
  text-align: left; }

.build p,
.move p,
.work p {
  max-width: 32.5rem;
  text-align: left; }

.project p {
  font-size: 1.3125rem; }

.project--visual-quiz p,
.project--codepen p {
  color: #fff; }

h1 {
  margin: 0;
  font-family: "MicrobrewOne-Regular";
  font-size: 5.6875rem; }

h2 {
  margin: 0;
  letter-spacing: .18rem; }

h3 {
  margin: .5rem 0 0; }
  .project--visual-quiz h3,
  .project--codepen h3 {
    color: #fff; }

h4 {
  font-family: "Gotham-Book"; }

h5 {
  display: inline-block;
  font-family: "Gotham-Book";
  vertical-align: middle; }
  .body__footer h5 {
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: relative;
    top: 50%; }

@media only screen and (max-width: 573px) {
  h1 {
    font-size: 5.4375rem; } }

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 4.6875rem; } }

.body__header {
  position: relative;
  padding-top: .5rem;
  text-align: center; }

.header__menu {
  -ms-box-orient: horizontal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  width: 18.75rem;
  margin: 0 auto; }

.logo {
  width: 4.125rem; }

.header__links {
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -ms-box-orient: horizontal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  width: 9.375rem;
  height: 1.78125rem;
  top: 40%;
  right: 2rem; }

.header__twitter {
  width: 2.25rem; }

.header__email {
  width: 1.875rem; }

.header__git {
  width: 1.8125rem; }

.icon {
  transition: all 0.5s; }

.icon:hover {
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2); }

.plaid-line {
  margin-top: .5rem; }

@media only screen and (max-width: 675px) {
  .header__links {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    margin: 1rem auto;
    right: 0; } }

.body__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.25rem;
  padding: 0 1rem;
  background: #d5d3d3; }

.footer__links {
  -ms-box-orient: horizontal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  -ms-transform: translate(0, -40%);
  transform: translate(0, -40%);
  position: absolute;
  width: 9.375rem;
  height: 1.78125rem;
  top: 50%;
  right: 2rem; }

.footer__twitter {
  width: 2.25rem; }

.footer__email {
  width: 1.875rem; }

.footer__git {
  width: 1.8125rem; }

@media only screen and (max-width: 400px) {
  .body__footer h5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: translate(-25%, 0);
    transform: translate(-25%, 0);
    position: relative;
    top: 10%;
    left: 50%;
    margin: 0; }
  .footer__links {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 9.375rem;
    height: 1.78125rem;
    top: 25%;
    right: 0;
    position: relative;
    margin: 0 auto; } }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book_gdi.eot");
  src: url("../fonts/Gotham-Book_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book_gdi.woff") format("woff"), url("../fonts/Gotham-Book_gdi.ttf") format("truetype"), url("../fonts/Gotham-Book_gdi.svg#Gotham-Book") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/Gotham-Medium_gdi.eot");
  src: url("../fonts/Gotham-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium_gdi.woff") format("woff"), url("../fonts/Gotham-Medium_gdi.ttf") format("truetype"), url("../fonts/Gotham-Medium_gdi.svg#Gotham-Medium") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url("../fonts/AGaramondPro-Regular_gdi.eot");
  src: url("../fonts/AGaramondPro-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/AGaramondPro-Regular_gdi.woff") format("woff"), url("../fonts/AGaramondPro-Regular_gdi.ttf") format("truetype"), url("../fonts/AGaramondPro-Regular_gdi.svg#AGaramondPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }

@font-face {
  font-family: 'MicrobrewOne-Regular';
  src: url("../fonts/MicrobrewOne_gdi.eot");
  src: url("../fonts/MicrobrewOne_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/MicrobrewOne_gdi.woff") format("woff"), url("../fonts/MicrobrewOne_gdi.ttf") format("truetype"), url("../fonts/MicrobrewOne_gdi.svg#MicrobrewOne-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold_gdi.eot");
  src: url("../fonts/Gotham-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold_gdi.woff") format("woff"), url("../fonts/Gotham-Bold_gdi.ttf") format("truetype"), url("../fonts/Gotham-Bold_gdi.svg#Gotham-Bold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

.body__main {
  position: relative;
  text-align: center; }

.plaid-line {
  height: 15px;
  background: url("../img/plaid.jpg") repeat-x;
  background-size: contain; }

.intro {
  -ms-box-orient: horizontal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 3rem; }

.build,
.move,
.work {
  width: 90%;
  margin: 0 auto; }

.build,
.move {
  margin-bottom: 8rem; }

.work {
  margin-bottom: 10rem; }

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -ms-box-orient: horizontal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  max-width: 20.625rem; }
  .build .header {
    -ms-transform: translate(-5.4rem, 0);
    transform: translate(-5.4rem, 0); }
  .move .header {
    -ms-transform: translate(5.4rem, 0);
    transform: translate(5.4rem, 0); }
  .work .header {
    -ms-transform: translate(-5.4rem, 0);
    transform: translate(-5.4rem, 0); }

.build__icons,
.move__icons,
.work__icons {
  -webkit-border-top-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -webkit-border-top-left-radius: 100px;
  -moz-border-radius-topright: 100px;
  -moz-border-radius-bottomright: 100px;
  -moz-border-radius-bottomleft: 100px;
  -moz-border-radius-topleft: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  background-clip: padding-box;
  width: 7.875rem; }

.arrow {
  width: 2.1875rem; }

.gif__arrow--left,
.arrow--left {
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 10%; }

.gif__arrow--right,
.gif__arrow--left,
.arrow--left,
.arrow--right {
  position: absolute;
  top: 35%;
  z-index: 100; }

.gif__arrow--right,
.arrow--right {
  right: 10%; }

.arrow--down {
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 2.5625rem; }

.email--alt {
  transition: all 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4.375rem; }

.email--alt:hover {
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

.project {
  position: relative;
  padding: 2rem 1rem 2rem;
  text-align: center; }

.project__container {
  -ms-transform: translate(0, 5rem);
  transform: translate(0, 5rem);
  transition: all 0.4s;
  opacity: 0; }

.project--visual-quiz {
  background: #4ebebc; }

.project--codepen {
  background: #86898c;
  height: 50rem; }

.project--gif {
  height: 43.75rem; }

.codepen-container {
  transition: all 0.7s;
  position: absolute;
  left: 50%;
  top: 0;
  width: 23.75rem;
  margin-left: -190px; }

.gif-container {
  transition: all 0.7s;
  position: absolute;
  left: 50%;
  top: 0;
  width: 23.75rem;
  margin-left: -190px; }

.project--map .project__img {
  box-shadow: 0 3px 3px #888888; }

.description {
  width: 90%;
  max-width: 37.5rem;
  margin: 2rem auto 0; }

.subtitle {
  margin-top: .5rem; }

.pronunciation {
  transition: all 0.7s;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-clip: padding-box;
  position: absolute;
  right: -12rem;
  top: 5%;
  width: 15.625rem;
  z-index: 50; }

.pronunciation:hover {
  right: 0; }

@media only screen and (max-width: 835px) {
  .intro {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
    .intro p {
      text-align: center; }
  .pronunciation {
    display: none; }
  .intro__face {
    display: none; } }

@media only screen and (max-width: 573px) {
  .intro span {
    display: none; }
  .build .header {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .move .header {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .work .header {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

.sources {
  position: relative;
  width: 100%;
  margin-top: 4rem;
  padding: 1rem;
  clear: both;
  background: #404040;
  text-align: left; }
  .sources.active {
    top: auto;
    bottom: 0; }
  .sources a {
    color: #636466; }
    .sources a:hover, .sources a:active, .sources a:focus, .sources a:visited {
      color: #636466; }

.share-options {
  padding: 1em 0; }
  .share-options a {
    display: inline-block;
    width: 2.875rem;
    height: 2.875rem;
    margin-right: .75rem;
    background: url(../img/share-icons.png) no-repeat left top;
    background-size: auto 2.875rem; }
  .share-options .twitter {
    background-position: -4.6875rem 0; }
  .share-options .gplus {
    background-position: -9.4375rem 0; }
  .share-options .email {
    background-position: -14.125rem 0; }

.slideUp {
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.active {
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: relative; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

p .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.content--single img,
.content--single .videoWrapper {
  margin: 3rem auto; }

.content--blog article {
  -ms-box-orient: horizontal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: none;
  -moz-box-pack: none;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  max-width: 75rem;
  margin: 0 auto; }

.content--blog article:nth-child(2) .post__content {
  background: #fff; }
  .content--blog article:nth-child(2) .post__content h5 {
    border-radius: 15px;
    background-clip: padding-box;
    margin-top: 3rem;
    padding: 1rem;
    border: 1px #636466 solid; }
  .content--blog article:nth-child(2) .post__content a,
  .content--blog article:nth-child(2) .post__content h3,
  .content--blog article:nth-child(2) .post__content h5,
  .content--blog article:nth-child(2) .post__content .byline {
    color: #636466; }
  .content--blog article:nth-child(2) .post__content .post__content--inner {
    color: #636466; }

.content--blog article:nth-child(3) .post__content {
  background: #4ebebc; }

.content--blog article:nth-child(3) h5 {
  border: 1px #fff solid; }

.content--blog .post__header {
  width: 40%; }

.content--blog .post__content {
  width: 60%;
  padding: 2rem;
  background: #3790ca;
  text-align: center; }
  .content--blog .post__content h3 {
    margin: 1rem auto 2.5rem; }
  .content--blog .post__content h5 {
    border-radius: 15px;
    background-clip: padding-box;
    margin-top: 3rem;
    padding: 1rem;
    border: 1px #fff solid; }
  .content--blog .post__content a,
  .content--blog .post__content h3,
  .content--blog .post__content h5,
  .content--blog .post__content .byline {
    color: #fff; }
  .content--blog .post__content .post__content--inner {
    text-align: left;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.9rem; }
  .content--blog .post__content .byline {
    font-family: "Gotham-Book";
    font-size: 1.1875rem; }

.content--blog .post__thumbnail img {
  width: 100%;
  max-height: 23.4375rem; }

@media only screen and (max-width: 36.5em) {
  .content--blog article {
    -ms-box-orient: horizontal;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: multiple;
    -moz-box-pack: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
  .content--blog .post__header {
    width: 100%; }
  .content--blog .post__content {
    width: 100%; } }

.content--single a {
  color: #636466; }
  .content--single a:hover, .content--single a:active, .content--single a:focus, .content--single a:visited {
    color: #3790ca; }

.content--single p {
  font-size: 1.125rem; }

.content--single h3 {
  margin-bottom: 2rem;
  text-align: center; }

.content--single article {
  max-width: 50rem;
  margin: 0 auto 2rem; }

.content--single header {
  width: 95%;
  margin: 2rem auto; }

.content--single .byline {
  font-family: "Gotham-Book";
  font-size: 1.1875rem; }

.content--single .post__content--inner {
  width: 95%;
  margin: 3rem auto 1rem;
  line-height: 1.5rem; }

.content--single footer {
  width: 95%;
  margin: 0 auto; }

.content--single .comments {
  width: 50%;
  margin-top: 3rem;
  margin-bottom: 7rem;
  margin-left: 2rem; }
  .content--single .comments h3 {
    display: none; }
  .content--single .comments li {
    list-style-type: none; }
  .content--single .comments .logged-in-as {
    display: none; }

.content--single .comment {
  margin-bottom: 2rem; }

.content--single .post__metadata {
  margin-bottom: 5rem; }

/*# sourceMappingURL=styles.css.map */